{% extends 'base.html.twig' %}

{% block body %}
	<section class="row">
		<div class="twelvecol last">
			<h1>{{ num_results }} Result(s) for <span class="hilite">{{ query }}</span></h1>
			<p><em class="open">Green</em> indicates the establishment is currently open</p>

			{% for place in places %}
				{% if place.opening_hours is defined and place.opening_hours.open_now == '1' %}
				<div class="row place place-{{place.id}} open">
				{% else %}
				<div class="row place place-{{place.id}}">
				{% endif %}
					<div class="twocol">
						<img src="{{place.icon}}" alt="icon" class="icon" />
					</div>

					<div class="tencol last">
						<h3>{{ place.name }}</h3>
						<p>{{ place.id }}</p>
						<p>{{ place.vicinity }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="twelvecol last">
			<p><a href="/places">Search Again</a></p>
		</div>
	</section>
{% endblock %}